body {
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    width: 75%;
    background-color: black;
    color: whitesmoke;
}

h1 {
    font-size: 34px;
}

.list {
    font-size: 18px;
    margin: auto;
    text-align: left;
}

.main.list {
    display: list-item;
    list-style-type: none;
    text-align: center;
}

.ingredients {
    list-style-type: square;
    margin: auto;
    width: 50%;
}

.list .steps {
    list-style-type: lower-roman;
}

.description {
    font-style: italic;
    font-size: 18px;
}



a:hover {
    color: red;
}

a:visited {
    color: white;
}

a:link {
    color: whitesmoke;
}